/* Background and body */

body {
  margin: 0;
  padding: 20px 0 0 0;
  height: 100vh;
  background: rgb(255, 255, 255);
}

.parent {
  height: 100%;
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

/* Text box */

.pallette {
  padding: 30px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items:center;
  background: #f3f3f3;
  border-radius: 25px;
  margin-bottom: 10px;
}

input {
  outline: none;
  border: none;
  background-color: #f3f3f3;
  font-size: 16px;
  text-align: center;
  width: 350px;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  transition: color 0.3s ease;
}


/* .placeholder {
  color: gray;
}

.placeholder:focus {
  color: transparent;
  opacity: 1;
  animation: fade 2s linear;
} */


.make-it-slow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */

.make-it-slow:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.pallette:hover {
  cursor: text;
}

/* Post */

.loading-card {
  margin: 10px 0 10px 0;
  padding: 15px;
  width: 450px;
  display: flex;
  align-items:center;
  background: #d6d6d6;
  border-radius: 10px;
  position: relative;
  box-shadow: 1px 2px 2px rgb(0 0 0 / 15%);
}


.post-card {
  margin: 10px 0 10px 0;
  padding: 15px;
  width: 450px;
  display: flex;
  align-items:center;
  background: #d6d6d6;
  border-radius: 10px;
  position: relative;
  box-shadow: 1px 2px 2px rgb(0 0 0 / 15%);
}

/* Time Icon */

.timebox {
  position: absolute;
  top: 8px;
  right: 10px;
  display: flex;
}

.timeleft-icon {
  height: 10px;
  width: 10px;
}
.timeleft-text {
  font-size: 10px;
  position: absolute;
  top: -12px;
  right: 12px;
  font-family: system-ui;
  font-weight: 500;
  width: 42px;
}